*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color:  rgb(240, 233, 233);
    display: grid;
    justify-items: center;
    align-items: center;
}
#form{
    background-color: rgb(240, 233, 233);
    display: flex;
    flex-direction: column;
    padding:30px 50px;
    box-shadow: 10px 10px 10px  rgb(206, 205, 205),-10px -10px 10px rgb(255, 255, 255);
}
#img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 10px  rgb(206, 205, 205),-10px -10px 10px rgb(238, 233, 233);
}
form input{
    margin: auto;
    padding: 8px 15px;
    width: 100%;
    border-radius: 30px;
    border:1px solid black;
    margin-bottom: 10px;
}
label{
    font-family:sans-serif;
    font-weight: bolder;
    margin-bottom: 3px;
}
#button{
   
    font-family: sans-serif;
    background-color: black;
    display: block;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    cursor: pointer;
}
form input:not(:last-child){
    text-align: start;
}
#img:hover{
    box-shadow: -10px -10px 10px  rgb(206, 205, 205),10px 10px 10px rgb(238, 233, 233);
}
form:hover{
    box-shadow: -10px -10px 10px  rgb(206, 205, 205),10px 10px 10px rgb(238, 233, 233);
}